<h1 style="text-align: center;">
   <a href="/insta">
    <button >
        Instagram
    </button>
    
</a>
</h1>
<h1 style="text-align: center;">
    <a href="/refreshToken">
     <button >
         Refresh Token
     </button>
     
 </a>
 </h1>